<div class="well hoverwell thumbnail" [routerLink]="['/events', latestEvent.id]">
  <h4>{{latestEvent?.name}}</h4>
  <div>Date: {{latestEvent?.date | toDate | date}}</div>
  <div [ngSwitch]="latestEvent?.time" [ngClass]="getStartTimeClass()">
    Time: {{latestEvent?.time}}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>

  <div>Price: {{latestEvent?.price | currency:'USD':true}}</div>
  <div *ngIf="latestEvent?.location">
    <span>Location: {{latestEvent?.location?.address}}</span>
    <span class='pad-left'>{{latestEvent?.location?.city}}, {{latestEvent?.location?.country}}</span>
  </div>
  <div *ngIf="latestEvent?.onlineUrl">
    Online URL: {{latestEvent?.onlineUrl}}
  </div>
</div>
