<div class="panel panel-primary">
  <div class='panel-heading'>
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
  </div>

  <div class='panel-body'>
    <div class="row">
      <div class="col-md-11">
        <h2>{{event?.name}} </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div>
          <strong>Date:</strong> {{event?.date | date}}</div>
        <div>
          <strong>Time:</strong> {{event?.time}}</div>
        <div>
          <strong>Price:</strong> ${{event?.price}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong>
          <br /> {{event?.location?.address}}
          <br /> {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
    </div>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
      <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div>
